.NavigationItem {
  box-sizing: border-box;
  margin: 10px 0;
  display: block;
  width: 100%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.NavigationItem div {
  box-sizing: border-box;
  display: block;
  color: #F98D33;
  text-decoration: none;
  font-family: inherit;
  padding: 12px 0;
}

.NavigationItem div:hover, .NavigationItem div:active, .NavigationItem div.active {
  color: #F98D33;
  background-color: #0000007c;
}

.Menu {
  display: none;
  padding: 0;
  background-color: #00000046;
  list-style: none;
}

.MenuItem {
  font-size: 16px;
  color: #F98D33;
  margin-top: 8px;
  cursor: pointer;
}

.MenuItem:hover {
  font-weight: bold;
}

.active {
  background-color: #0000007c;
  font-weight: bold;
}

.show {
  display: block;
}