.Central {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
}

.title {
  font-family: 'Montserrat';
  margin-left: 16px;
  color: #383838;
}

.display {
  position: relative;
  margin: 0 auto;
  padding-top: 128px;
  width: 90%;
  height: 80vh;
  background: radial-gradient(86.44% 48% at 50.13% 39.2%, #F10D0D 0%, #BF2222 89.55%);
  border-radius: 8px;
  box-shadow: 0 4px 12px 2px rgba(0,0,0,0.2);
}

.ventilacionImg {
  position: absolute;
  left: 15%;
  bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  min-height: 40px;
}

.ventilacionImg2 {
  position: absolute;
  left: 15%;
  top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  min-height: 40px;
}

.lockImg {
  position: absolute;
  right: -40px;
  bottom: -64px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.boltImg {
  position: absolute;
  bottom: -20px;
  left: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
}

.boltImg2 {
  position: absolute;
  bottom: -20px;
  right: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
}

.boltImg3 {
  position: absolute;
  bottom: -38px;
  right: 48%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
}

.boltImg4 {
  position: absolute;
  top: -20px;
  left: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
}

.boltImg5 {
  position: absolute;
  top: -20px;
  right: -20px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
}

.boltImg6 {
  position: absolute;
  top: -38px;
  right: 48%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
}

.boltImg7 {
  position: absolute;
  right: 8px;
  bottom: -52px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
}

.boltImg8 {
  position: absolute;
  top: -102px;
  left: -16px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
}

.display .messageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 50%;
  max-height: 80%;
  background-color: #EDEDED;
  margin: 0 auto;
  border-radius: 10px;
  border: 6px solid black;
}

.noEvents {
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  margin: 0 auto;
  padding: 16px 8px;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 5px 10px, rgb(15 15 15 / 20%) 0px 15px 40px;
  border-radius: 12px;
  text-align: center;
  min-height: 50%;
  max-height: 80%;
}

.noEvents h2 {
  font-family: 'Montserrat';
  color: #8BDC6E;
  font-size: 28px;
  margin-top: 2rem;
}

.noEvents img {
  width: 65%;
}

@media (min-width: 1114px) {
  .display {
    width: 728px;
  }
}

@media (max-width: 768px) {
  .Central {
    margin-top: 64px;
    height: calc(100vh - 64px);
  }

  .container {
    height: calc(100vh - 64px);
  }

  .display {
    height: 60vh;
  }

  .ventilacionImg {
    min-height: 32px;
  }
  
  .ventilacionImg2 {
    min-height: 32px;
  }
}
 
@media (max-width: 480px) {
  .Central {
    margin-top: 64px;
    flex-direction: column;
  }

  .display {
    margin: 8px auto;
    width: 95%;
    padding-bottom: 16px;
  }

  .ventilacionImg {
    min-height: 28px;
  }
  
  .ventilacionImg2 {
    min-height: 28px;
  }

  .lockImg {
    position: absolute;
    right: -40px;
    bottom: -64px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
  }

  .boltImg {
    position: absolute;
    bottom: -20px;
    left: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 8px;
  }

  .boltImg2 {
    position: absolute;
    bottom: -20px;
    right: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 8px;
  }

  .boltImg3 {
    position: absolute;
    bottom: -38px;
    right: 48%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 8px;
  }

  .boltImg4 {
    position: absolute;
    top: -20px;
    left: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 8px;
  }

  .boltImg5 {
    position: absolute;
    top: -20px;
    right: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 8px;
  }

  .boltImg6 {
    position: absolute;
    top: -38px;
    right: 48%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 8px;
  }

  .boltImg7 {
    position: absolute;
    right: 0px;
    bottom: -52px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 8px;
  }

  .boltImg8 {
    position: absolute;
    top: -102px;
    left: -16px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8px;
    height: 8px;
  }
}