.Button {
    background-color: #F5A915;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat';
    padding: 16px;
    margin: 10px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    border-radius: 16px;
}

.Button:first-of-type {
    margin-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #002835;
}

.Danger {
    background-color: #944317;
}
