.NavigationItem {
  box-sizing: border-box;
  margin: 10px 0;
  display: block;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.NavigationItem a {
  box-sizing: border-box;
  display: block;
  color: #F98D33;
  text-decoration: none;
  font-family: inherit;
  padding: 12px 0;
}

.NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active {
  color: #F98D33;
  background-color: #0000007c;
}

.active {
  background-color: #0000007c;
  font-weight: bold;
}