.MainDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #eeeeee;
  width: 80%;
  min-height: 55vh;
  margin: 0 auto;
  margin-bottom: 128px;
  border-radius: 12px;
}

.Title {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2%;
  margin-bottom: 2rem;
  margin-top: 0;
}

@media (min-width: 1024px) {
  .MainDisplay {
    max-width: 614px;
  }
}