.Toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 15%;
  top: 0;
  left: 0;
  background-color: #6c6c6c;
  font-family: 'Lato';
}