.MessageCard {
  position: relative;
  width: 90%;
  padding: 8px;
  margin: 16px auto;
  font-family: 'Lato';
  background-repeat: no-repeat;
  background-size: cover;
  color: #333333;
  border-radius: 12px;
  text-align: center;
}

.MessageCard p {
  margin: 0 auto;
  padding: 0;
  font-size: 42px;
  color: inherit;
}

.counter {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 4px 6px;
  background-color: #e8ad2c;
  border-radius: 12px;
  font-family: 'Lato';
  color: inherit;
}

.counter p {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
}

.flame {
  position: absolute;
  display: block;
  top: -24px;
  right: -20px;
  margin: 0;
  padding: 0;
  animation-duration: 0.2s;
  animation-name: sideToSide;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(0.75,-0.04, 0.29, 1.01);
  transform-origin: 50% 75%;
}

.Alarma {
  color: #E7E7E7;
  animation: colorLetterChange 1s linear 1s infinite;
}

.Alarma .counter {
  background-color: #FD3232;
}

@keyframes sideToSide {
  from {
    transform: rotateZ(-10deg);
  }

  to {
    transform: rotateZ(10deg);
  }
}

@keyframes colorLetterChange {
  from {
    color: red;
  }

  to {
    color: #E7E7E7;
  }
}