.messageLogger {
  height: 100vh;
  width: 35%;
  padding: 20px;
  background-color: #eeeeee;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  .messageLogger {
    width: 100%;
    height: unset;
    overflow: unset;
  }
}