.messageLogger {
  height: 100%;
  width: 35%;
  padding: 20px;
  top: 0;
  left: 0;
  background-color: #eeeeee;
}

@media (max-width: 480px) {
  .messageLogger {
    width: 100%;
    min-height: 300px;
  }
}